

#index {
     h1 {
    background-color: rgb(0, 0, 0);
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}   
img {
    width: 25vw;
} }
#capitulo2 {
    background-image: url("assets/radiohead.jpeg");
    h1 {
    background-color: rgb(255, 255, 255);
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
}
    
}
#capitulo3 {
    background-image: url("assets/Black\ Country\,\ New\ Road\ by\ Eddie\ Whelan.jpeg");
    h1 {
    background-color: rgb(255, 255, 255);
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
}
    
}
#capitulo4 {
    background-image: url("assets/Sufjan\ Stevens.jpeg");
    h1 {
    background-color: rgb(255, 255, 255);
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
}
    
}
#capitulo5 {
    background-image: url("assets/charly.jpeg");
    h1 {
    background-color: rgb(255, 255, 255);
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
}
    
}

