

#index {
     h1 {
    background-color: rgb(0, 0, 0);
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}   
img {
    width: 25vw;
} }
#capitulo2 {
    background-image: url("assets/radiohead.jpeg");
    h1 {
    background-color: rgb(255, 255, 255);
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 

}

    
}
#porque {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
    background-color: white;
    width: 30vw;
}
#contexto1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
    background-color: white;
    width: 30vw;
    position: relative;
    top: 30%;
    left: 30%;
}
#radio1 {
    width: 20vw;
    height: 20vw;
    position: relative;
    top: 40%;
    left: 5%;
}
#radio2 {
    width: 20vw;
    height: 20vw;
    position: relative;
    top: 45%;
    left: 15%;
}
#reco1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
    background-color: white;
    width: 30vw;
    position: absolute;
    top: 18%;
    left: 60%;
}
#regreso {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    background-color: white;
    color: yellow;
    width: 4vw;
    position: absolute;
    bottom: 10%;

}
#moon { 
width: 15vw;
    height: 15vw;
    position: absolute;
    top: 60%;
    left: 60%;
}
#rain { 
width: 15vw;
    height: 15vw;
    position: absolute;
    top: 60%;
    left: 80%;
}
#hwt {
     position: absolute;
    top: 30%;
    left: 80%;

}
#wrd {
     position: absolute;
    top: 30%;
    left: 60%;

}


#capitulo3 {
    background-image: url("assets/Black\ Country\,\ New\ Road\ by\ Eddie\ Whelan.jpeg");
    h1 {
    background-color: rgb(255, 255, 255);
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
}
    
}
#capitulo4 {
    background-image: url("assets/Sufjan\ Stevens.jpeg");
    h1 {
    background-color: rgb(255, 255, 255);
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
}
    
}
#capitulo5 {
    background-image: url("assets/charly.jpeg");
    h1 {
    background-color: rgb(255, 255, 255);
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
}
    
}

